* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
p {
    font-size: 20px;
    font-weight:300;
    line-height: 24px;
    margin-bottom: 5px;
    color: black;
    margin: 7px;
}
body {
    background-color: blanchedalmond;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.header {
    margin-top:10px;
    padding: 5px;
}

.registration {
    margin: 10px auto;
    width: 50%;
    height: 100%;
    padding: 20px;
    text-align: center;
    border: double;
    border-radius: 10px;
    align-content: center;
    background-color:antiquewhite;
    box-sizing: border-box;

}