* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}

body {
    background-color: blanchedalmond;
    
}

.container {
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
     
}

.card {
    padding: 10px;
    margin: 5px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left {
   position: relative;
   bottom: 40%; 
   font-size: 40px;

}

.right {
    position: relative;
    top: 40%;
    font-size: 40px;
    transform: rotate(180deg);

}

.middle {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 35px 25px;
}

.middle div {
    font-size: 50px;
}

.middle div:nth-child(5), .middle div:nth-child(6) {
    transform: rotate(180deg);
}